#header
  #name
    %span.name G-wall

#content
  #comics_story
    =image_tag "rails.png", :id => 'comics'
  #description
    Example Script Description
  #script
  #download

#footer
  #copyright
    Copyright 2010 by hash4di
  #design_coding
    Design and Coding by hash4di

